<div class="container">
  <div class="row">
    <div class="farm">
      <h2 class="title">Farm</h2>
      <h2 class="goldnum">(Earn 1 to 3 gold)</h2>
      <button (click)="farm()">Find Gold in the Farm</button>
    </div>
    <div class="cave">
      <h2 class="title">Cave</h2>
      <h2 class="goldnum">(Earn up to 20 gold or risk getting attacked)</h2>
      <button (click)="cave()">Find Gold in the Cave</button>
    </div>
    <div class="house">
      <h2 class="title">House</h2>
      <h2 class="goldnum">(Earn up to 6 gold or risk getting mugged)</h2>
      <button (click)="house()">Find Gold in the House</button>
    </div>
    <div class="casino">
      <h2 class="title">Casino</h2>
      <h2 class="goldnum">(Earn up to or risk 100 gold)</h2>
      <button id="cbutton" (click)="casino()">Gamble in the Casino</button>
    </div>
  </div>
</div>
