<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <h1>
    All the tasks:
    {{ tasks }}
</div>
 <button (click)='getTasksFromService()'>Get all Tasks</button>
 <button (click)='_taskService.oneTasks()'>Get one Task</button>
 <button (click)='_taskService.createTasks()'>Create a Task</button>
 <button (click)='_taskService.deleteTasks()'>Delete a Task</button>
 <button (click)='_taskService.updateTasks()'>Update a Task</button>

<div *ngFor="let task of tasks">
  <p>{{ task.title }}</p>
  <button (click)="info(task)">Show</button>
</div>

<div>
  <p>{{ task.title }}</p>
  <p>{{ task,description }}</p>
</div>
